dsci-on-latop/stanford-parser/jdk-8u45-linux-x64.tar.gz
dsci-on-latop/stanford-parser/stanford-parser-full-2015-04-20.zip
dsci-on-latop/stanford-parser/stanford-parser-full-2015-04-20/stanford-parser-3.5.2-models.jar